In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df_absention_cleaned_14_06_2024__11_01.csv')

In [3]:
df.head()

,year,Belgium,Denmark,Germany,Ireland,France,Italy,Luxembourg,Netherlands,United Kingdom,...,Latvia,Hungary,Malta,Poland,Slovenia,Slovakia,Bulgaria,Romania,Croatia,Total EU
0,1979,8.64,52.18,34.27,36.39,39.29,14.35,11.09,41.88,67.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.01
1,1984,7.91,47.62,43.24,52.44,43.28,17.53,11.21,49.12,67.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.02
2,1989,9.27,53.83,37.72,31.72,51.20,18.93,12.61,52.52,63.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.59
3,1994,9.34,47.08,39.98,56.02,47.29,26.40,11.45,64.31,63.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.33
4,1999,8.95,49.54,54.81,49.79,53.24,30.24,12.73,69.98,76.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.49

In [5]:
# test = df[['year','Greece']]
# test

In [6]:
df1 = df.diff(periods = 1)
df1 = df1.drop('year', axis=1)

df1

,Belgium,Denmark,Germany,Ireland,France,Italy,Luxembourg,Netherlands,United Kingdom,Greece,...,Latvia,Hungary,Malta,Poland,Slovenia,Slovakia,Bulgaria,Romania,Croatia,Total EU
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.73,-4.56,8.97,16.05,3.99,3.18,0.12,7.24,-0.22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01
2,1.36,6.21,-5.52,-20.72,7.92,1.40,1.40,3.40,-3.80,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.57
3,0.07,-6.75,2.26,24.30,-3.91,7.47,-1.16,11.79,-0.06,6.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.74
4,-0.39,2.46,14.83,-6.23,5.95,3.84,1.28,5.67,12.43,2.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.16
5,0.24,2.57,2.19,-8.37,4.00,-1.96,-4.08,-9.24,-14.52,7.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.04
6,0.42,-11.65,-0.27,-0.06,2.13,5.25,0.59,2.51,3.82,10.68,...,-12.36,2.19,3.60,-3.66,-0.02,-2.67,NaN,NaN,NaN,2.50
7,0.75,3.22,-4.83,6.20,-1.80,9.25,5.21,-0.57,-0.90,-7.43,...,23.46,7.34,3.99,0.70,3.82,6.59,3.15,-4.77,NaN,0.36
8,1.17,-9.76,-13.28,2.74,-7.69,2.72,1.31,-4.61,-1.58,1.28,...,-3.29,-14.39,2.10,-21.85,-4.34,-9.69,3.20,-18.76,-4.61,-8.05
9,-1.35,7.83,-3.40,-0.95,-1.38,6.19,1.95,-4.27,NaN,17.30,...,-0.29,-16.09,-0.30,5.03,-12.56,-11.64,-1.15,-1.22,8.50,-0.42

In [7]:
df_year = pd.DataFrame(df['year'])
df_year

   year
0  1979
1  1984
2  1989
3  1994
4  1999
5  2004
6  2009
7  2014
8  2019
9  2024

In [8]:
df_final = pd.concat([df_year, df1], axis = 1)
df_final

,year,Belgium,Denmark,Germany,Ireland,France,Italy,Luxembourg,Netherlands,United Kingdom,...,Latvia,Hungary,Malta,Poland,Slovenia,Slovakia,Bulgaria,Romania,Croatia,Total EU
0,1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984,-0.73,-4.56,8.97,16.05,3.99,3.18,0.12,7.24,-0.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.01
2,1989,1.36,6.21,-5.52,-20.72,7.92,1.40,1.40,3.40,-3.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.57
3,1994,0.07,-6.75,2.26,24.30,-3.91,7.47,-1.16,11.79,-0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.74
4,1999,-0.39,2.46,14.83,-6.23,5.95,3.84,1.28,5.67,12.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.16
5,2004,0.24,2.57,2.19,-8.37,4.00,-1.96,-4.08,-9.24,-14.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.04
6,2009,0.42,-11.65,-0.27,-0.06,2.13,5.25,0.59,2.51,3.82,...,-12.36,2.19,3.60,-3.66,-0.02,-2.67,NaN,NaN,NaN,2.50
7,2014,0.75,3.22,-4.83,6.20,-1.80,9.25,5.21,-0.57,-0.90,...,23.46,7.34,3.99,0.70,3.82,6.59,3.15,-4.77,NaN,0.36
8,2019,1.17,-9.76,-13.28,2.74,-7.69,2.72,1.31,-4.61,-1.58,...,-3.29,-14.39,2.10,-21.85,-4.34,-9.69,3.20,-18.76,-4.61,-8.05
9,2024,-1.35,7.83,-3.40,-0.95,-1.38,6.19,1.95,-4.27,NaN,...,-0.29,-16.09,-0.30,5.03,-12.56,-11.64,-1.15,-1.22,8.50,-0.42

In [9]:
df_final = df_final.T.reset_index()
df_final

,index,0,1,2,3,4,5,6,7,8,9
0,year,1979.0,1984.00,1989.00,1994.00,1999.00,2004.00,2009.00,2014.00,2019.00,2024.00
1,Belgium,NaN,-0.73,1.36,0.07,-0.39,0.24,0.42,0.75,1.17,-1.35
2,Denmark,NaN,-4.56,6.21,-6.75,2.46,2.57,-11.65,3.22,-9.76,7.83
3,Germany,NaN,8.97,-5.52,2.26,14.83,2.19,-0.27,-4.83,-13.28,-3.40
4,Ireland,NaN,16.05,-20.72,24.30,-6.23,-8.37,-0.06,6.20,2.74,-0.95
5,France,NaN,3.99,7.92,-3.91,5.95,4.00,2.13,-1.80,-7.69,-1.38
6,Italy,NaN,3.18,1.40,7.47,3.84,-1.96,5.25,9.25,2.72,6.19
7,Luxembourg,NaN,0.12,1.40,-1.16,1.28,-4.08,0.59,5.21,1.31,1.95
8,Netherlands,NaN,7.24,3.40,11.79,5.67,-9.24,2.51,-0.57,-4.61,-4.27
9,United Kingdom,NaN,-0.22,-3.80,-0.06,12.43,-14.52,3.82,-0.90,-1.58,NaN
10,Greece,NaN,NaN,0.56,6.85,2.93,7.03,10.68,-7.43,1.28,17.30
11,Spain,NaN,NaN,NaN,-4.43,-3.91,17.91,0.27,1.06,-16.92,11.52
12,Portugal,NaN,NaN,NaN,15.56,-4.39,1.33,1.83,3.10,2.92,-5.79
13,Sweden,NaN,NaN,NaN,NaN,NaN,0.99,-7.68,-5.54,-4.20,1.87
14,Austria,NaN,NaN,NaN,NaN,NaN,6.97,-3.54,0.58,-14.41,3.50
15,Finland,NaN,NaN,NaN,NaN,NaN,-9.29,0.83,-0.50,-1.70,0.40
16,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,0.08,10.02,-10.52,-7.73
17,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,-17.07,7.38,-1.08,0.00
18,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,13.10,15.43,-1.02,-13.87
19,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,27.40,-26.37,-6.13,25.13
20,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,-12.36,23.46,-3.29,-0.29
21,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,2.19,7.34,-14.39,-16.09
22,Malta,NaN,NaN,NaN,NaN,NaN,NaN,3.60,3.99,2.10,-0.30
23,Poland,NaN,NaN,NaN,NaN,NaN,NaN,-3.66,0.70,-21.85,5.03
24,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,-0.02,3.82,-4.34,-12.56
25,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,-2.67,6.59,-9.69,-11.64
26,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.15,3.20,-1.15
27,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.77,-18.76,-1.22
28,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.61,8.50
29,Total EU,NaN,3.01,0.57,1.74,7.16,4.04,2.50,0.36,-8.05,-0.42

In [10]:
df_final.columns = df_final.iloc[0]
df_final = df_final[1:]
df_final

,year,1979.0,1984.0,1989.0,1994.0,1999.0,2004.0,2009.0,2014.0,2019.0,2024.0
1,Belgium,NaN,-0.73,1.36,0.07,-0.39,0.24,0.42,0.75,1.17,-1.35
2,Denmark,NaN,-4.56,6.21,-6.75,2.46,2.57,-11.65,3.22,-9.76,7.83
3,Germany,NaN,8.97,-5.52,2.26,14.83,2.19,-0.27,-4.83,-13.28,-3.40
4,Ireland,NaN,16.05,-20.72,24.30,-6.23,-8.37,-0.06,6.20,2.74,-0.95
5,France,NaN,3.99,7.92,-3.91,5.95,4.00,2.13,-1.80,-7.69,-1.38
6,Italy,NaN,3.18,1.40,7.47,3.84,-1.96,5.25,9.25,2.72,6.19
7,Luxembourg,NaN,0.12,1.40,-1.16,1.28,-4.08,0.59,5.21,1.31,1.95
8,Netherlands,NaN,7.24,3.40,11.79,5.67,-9.24,2.51,-0.57,-4.61,-4.27
9,United Kingdom,NaN,-0.22,-3.80,-0.06,12.43,-14.52,3.82,-0.90,-1.58,NaN
10,Greece,NaN,NaN,0.56,6.85,2.93,7.03,10.68,-7.43,1.28,17.30
11,Spain,NaN,NaN,NaN,-4.43,-3.91,17.91,0.27,1.06,-16.92,11.52
12,Portugal,NaN,NaN,NaN,15.56,-4.39,1.33,1.83,3.10,2.92,-5.79
13,Sweden,NaN,NaN,NaN,NaN,NaN,0.99,-7.68,-5.54,-4.20,1.87
14,Austria,NaN,NaN,NaN,NaN,NaN,6.97,-3.54,0.58,-14.41,3.50
15,Finland,NaN,NaN,NaN,NaN,NaN,-9.29,0.83,-0.50,-1.70,0.40
16,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,0.08,10.02,-10.52,-7.73
17,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,-17.07,7.38,-1.08,0.00
18,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,13.10,15.43,-1.02,-13.87
19,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,27.40,-26.37,-6.13,25.13
20,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,-12.36,23.46,-3.29,-0.29
21,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,2.19,7.34,-14.39,-16.09
22,Malta,NaN,NaN,NaN,NaN,NaN,NaN,3.60,3.99,2.10,-0.30
23,Poland,NaN,NaN,NaN,NaN,NaN,NaN,-3.66,0.70,-21.85,5.03
24,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,-0.02,3.82,-4.34,-12.56
25,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,-2.67,6.59,-9.69,-11.64
26,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.15,3.20,-1.15
27,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.77,-18.76,-1.22
28,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.61,8.50
29,Total EU,NaN,3.01,0.57,1.74,7.16,4.04,2.50,0.36,-8.05,-0.42

In [12]:
df_final = df_final.sort_values(by=2024.0,ascending=False)
df_final

,year,1979.0,1984.0,1989.0,1994.0,1999.0,2004.0,2009.0,2014.0,2019.0,2024.0
19,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,27.40,-26.37,-6.13,25.13
10,Greece,NaN,NaN,0.56,6.85,2.93,7.03,10.68,-7.43,1.28,17.30
11,Spain,NaN,NaN,NaN,-4.43,-3.91,17.91,0.27,1.06,-16.92,11.52
28,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.61,8.50
2,Denmark,NaN,-4.56,6.21,-6.75,2.46,2.57,-11.65,3.22,-9.76,7.83
6,Italy,NaN,3.18,1.40,7.47,3.84,-1.96,5.25,9.25,2.72,6.19
23,Poland,NaN,NaN,NaN,NaN,NaN,NaN,-3.66,0.70,-21.85,5.03
14,Austria,NaN,NaN,NaN,NaN,NaN,6.97,-3.54,0.58,-14.41,3.50
7,Luxembourg,NaN,0.12,1.40,-1.16,1.28,-4.08,0.59,5.21,1.31,1.95
13,Sweden,NaN,NaN,NaN,NaN,NaN,0.99,-7.68,-5.54,-4.20,1.87
15,Finland,NaN,NaN,NaN,NaN,NaN,-9.29,0.83,-0.50,-1.70,0.40
17,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,-17.07,7.38,-1.08,0.00
20,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,-12.36,23.46,-3.29,-0.29
22,Malta,NaN,NaN,NaN,NaN,NaN,NaN,3.60,3.99,2.10,-0.30
29,Total EU,NaN,3.01,0.57,1.74,7.16,4.04,2.50,0.36,-8.05,-0.42
4,Ireland,NaN,16.05,-20.72,24.30,-6.23,-8.37,-0.06,6.20,2.74,-0.95
26,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.15,3.20,-1.15
27,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.77,-18.76,-1.22
1,Belgium,NaN,-0.73,1.36,0.07,-0.39,0.24,0.42,0.75,1.17,-1.35
5,France,NaN,3.99,7.92,-3.91,5.95,4.00,2.13,-1.80,-7.69,-1.38
3,Germany,NaN,8.97,-5.52,2.26,14.83,2.19,-0.27,-4.83,-13.28,-3.40
8,Netherlands,NaN,7.24,3.40,11.79,5.67,-9.24,2.51,-0.57,-4.61,-4.27
12,Portugal,NaN,NaN,NaN,15.56,-4.39,1.33,1.83,3.10,2.92,-5.79
16,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,0.08,10.02,-10.52,-7.73
25,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,-2.67,6.59,-9.69,-11.64
24,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,-0.02,3.82,-4.34,-12.56
18,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,13.10,15.43,-1.02,-13.87
21,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,2.19,7.34,-14.39,-16.09
9,United Kingdom,NaN,-0.22,-3.80,-0.06,12.43,-14.52,3.82,-0.90,-1.58,NaN

In [16]:
top = df_final.head(11)
top = top[['year',2024.0]]
top = top.rename(columns = {'year':'country',
                           2024.0:'change'})
top

0      country  change
19   Lithuania   25.13
10      Greece   17.30
11       Spain   11.52
28     Croatia    8.50
2      Denmark    7.83
6        Italy    6.19
23      Poland    5.03
14     Austria    3.50
7   Luxembourg    1.95
13      Sweden    1.87
15     Finland    0.40

In [17]:
top.to_csv('change.csv', index=False)